
:root{
    --color-primario: #54AFFF;
    --color-secundario: #5db86b;
  }

body {
    font-family: 'IBM Plex Mono', monospace, sans-serif;
    margin-top: 3rem;
}

/* estilos a la barra de navegacion */
.nav-link{
    color: #fff;
}

/* estilos al icono de la hamburguesa */
.bi {
    color: #fff;
}

.navbar-nav {
    gap: 2em;
}

main {
    width: 100%;
    height: auto;
}


/*---------------------------- Estilos de Slider infinito de marcas ------------------------------------ */
@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.logos{
    overflow: hidden;
    padding: 40px 0;
    background-color: #fff;
    white-space: nowrap;
    position: relative;
}

.logos:before, .logos:after {
    position: absolute;
    top: 0;
    width: 300px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0), white);
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0), white);
}

.logos:hover .logos-slide {
   animation-play-state: paused; 
}

.logos-slide{
    display: inline-block;
    animation: 20s slide infinite linear;
    margin: 0 auto;
}

.logos-slide img {
    height: 90px;
    margin: 0 40px;
}



/* medias querys */
@media (max-width: 990px) {
    .offcanvas-body{
        background-color: rgb(8, 175, 119);
        
    }

    .navbar-nav, .container-login{
        text-align: center;
        margin: 2em 0;
    }
}


@media screen and (max-width:550px) {
    body, button, input {
      font-size: 12px;
    }
}