
:root{
    --color-primario: #54AFFF;
    --color-secundario: #5db86b;
  }

body {
    font-family: 'IBM Plex Mono', monospace, sans-serif;
}

/* estilos a la barra de navegacion */
.nav-link{
    color: #fff;
}

/* estilos al icono de la hamburguesa */
.bi {
    color: #fff;
}

.navbar-nav {
    gap: 2em;
}

main {
    width: 100%;
    height: auto;
}

/* .slider{
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track{
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 12);
}

.slider .slide{
    width: 100px;
    margin: 10px;
}

.slider .slide img {
    width: 100%;
    aspect-ratio: 4/3;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px* 12));
        transform: translateX(calc(-200px* 12));

    }
} */

.slider {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}

.slider .slide {
    width: 200px;
}

.slider .slide img {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}


/* medias querys */
@media (max-width: 990px) {
    .offcanvas-body{
        background-color: rgb(8, 175, 119);
        
    }

    .navbar-nav, .container-login{
        text-align: center;
        margin: 2em 0;
    }
}


@media screen and (max-width:550px) {
    body, button, input {
      font-size: 12px;
    }
}