/* INICIO */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
header{
    
    position: auto;
    top: 0;
    left: 0;
    height: 15%;
    display: flex;
    justify-content: center;
    transition: 0.07s;
    padding: 20px;
    background-color: #F1C2FE;
    text-align: center;
    font-size: 16px;    
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
}
header ul li a{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 15px;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.07s;
}
.zona1{
    background-color: #DDF2FF;
}

h2 {
    text-align: center;
    font-size: 2rem;
    padding-top: 50px;
}

.slider-frame {
	width: 100%;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
.container{
    text-align: center; 
    color: black;
    font-size: 18px;
    padding: 35px;
}
.container p{
    text-align: justify;
    margin-left: 250;
    margin-right: 250;
}
.container h1{
    color: black;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.video video {
    max-width: 100%;
    max-height: 100%;
}
.audio{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:700px){
    header{
    flex-direction: column;
    font-size: 6px;
    }
    footer{
        flex-direction: column;

    }
    nav{
        padding: 10px 0px;
    }
}
@media (min-width: 700px) and (max-width: 1023px){
    header{
        flex-direction: column;
        font-size: 16px;
        }
}
.footer {
    display: auto;
    width: 100%;
    font-size: 16px;
}
  
.izquierda, .centro, .derecha {
    flex: 1;
    padding: 20px;
  }
  
.izquierda {
    background-color: #F1C2FE;
    text-align: center;
}
  
.centro {
    background-color: #F1C2FE;
    text-align: center;
}
  
.derecha {
  background-color:    #F1C2FE;
  text-align: center;
}


/* PRODUCTOS */


.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #2fb4cc;
	color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}


/* SERVICIOS */


html{
    font-family: 'Times New Roman', Times, serif;
}
.cont{
    width: 100%;
    height: auto;   
    align-items: center;
    justify-content: center;
}
.cont    h1{
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
    color: black;
}
.cont p{
    text-align: justify-all;
    margin-top: 0px;
    font-size: 20px;
    margin: 150px;
    color: black;
}
#gen{ 
    border-radius: 10%;
    width: 400px;
    height: 200px;
    margin: 125px;
    margin-top: 0px;
}
#gen{ 
    float: right;
}
#gen2{ 
    border-radius: 10%;
    width: 400px;
    height: 200px;
    margin: 125px;
    margin-top: 0px;
}
#gen2{ 
    float: left;
}
#gen3{ 
    border-radius: 10%;
    width: 450px;
    height: 400px;
    margin: 125px;
    margin-top: 25px;
}
#gen3{ 
    float: right;
}
#gen4{ 
    border-radius: 10%;
    width: 325px;
    height: 225px;
    margin: 125px;
    margin-top: 5px;
}

#gen4{ 
    float: left;
}
#gen5{ 
    border-radius: 10%;
    width: 450px;
    height: 400px;
    margin: 125px;
    margin-top: 25px;
}
#gen5{ 
    float: right;
}
#gen6{ 
    border-radius: 10%;
    width: 450px;
    height: 400px;
    margin: 125px;
    margin-top: 35px;
}
#gen6{ 
    float: left;
}



/* NOSOTROS */

article {
    position: relative;
    width: 250px;
    transition: all .3s ease;
}
article img:first-child { 
    box-shadow: 0 60px 60px -60px rbga(0, 30, 255, 0.50);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
}
article img:last-child { 
    position: absolute;
    width: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: .3s ease;
    opacity: 0;
}
article:hover { 
    transform: 
        perspective(250px)
        rotate(10deg)
        translateY(-5%)
        translateZ(0);
}
article::before { 
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: 
linear-gradient(
        to bottom,
        transparent,
        rbga(0 , 0, 0, 0.5) 50%, 
        rbga(0, 0, 0) 95%
);
opacity: 0;
transition: all .3s ease;
}
article:hover::before{ 
    opacity: 1;
}
article:hover img:last-child { 
    opacity: 1;
    transform: translateY(10%);
    
}


/* CONTACTANOS */


    
body {
    background-image: url('fondo.jpg');
}

.form-register {
    width: 400px;
    background: black;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}
      
.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}
      
.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #F1D3FA;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}
      
.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}
      
.form-register a {
    color: white;
    text-decoration: none;
}
      
.form-register a:hover {
    color: white;
    text-decoration: underline;
}
      
.form-register .botons {
    width: 100%;
    background: #EAAAFC;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}
.foter {
    display: auto;
    width: 100%;
    font-size: 16px;
}
  
.izquierda, .centro, .derecha {
    flex: 1;
    padding: 20px;
  }
  
.izquierda {
    background-color: #F1C2FE;
    text-align: center;
}
  
.centro {
    background-color: #F1C2FE;
    text-align: center;
}
  
.derecha {
  background-color:    #F1C2FE;
  text-align: center;
}
    